<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.dailychallengejournal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity
        Android:name=".MainActivity"
        Android:label="@string/app_name"
        Android:launchMode="singleTask"
        Android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        Android:windowSoftInputMode="adjustResize">
        <intent-filter>
          <action Android:name="Android.intent.action.MAIN" />
          <category Android:name="Android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
          <action Android:name="Android.intent.action.VIEW" />
          <category Android:name="Android.intent.category.DEFAULT" />
          <category Android:name="Android.intent.category.BROWSABLE" />
          <data
            Android:host="fatimat.eu.auth0.com"
            Android:pathPrefix="/Android/${applicationId}/callback"
            Android:scheme="${applicationId}"
          />
        </intent-filter>
      </activity>
    </application>
</manifest>
